.small-table {
    width: 95%; /* Verkleinert die Breite der Tabelle auf 80% des umgebenden Elements */
    margin: auto; /* Zentriert die Tabelle */
}
.small-table th, .small-table td {
    padding: 4px; /* Reduziert den Zelleninnenabstand */
}